<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="base_xacro" params="length radius">
        <!--the body of robot-->
        <link name="base_link">
            <!-- the visual representation of the link -->
            <visual>
            <!-- 沿着自己几何中心的偏移和旋转量-->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <!-- 几何形状-->
                <geometry>
                <!-- 圆柱体，半径0.1m，高0.12m-->
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>
                <!-- 材质和颜色-->
                <material name="white">
                    <color rgba="1.0 1.0 1.0 0.5"/>
                </material>
            </visual>
        </link>

        <link name="base_footprint" />

    </xacro:macro>

</robot>
